In [1]:
import pandas as pd
import numpy as np
from numpy import loadtxt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from matplotlib import pyplot

In [2]:
train = pd.read_csv('ltfs_final.csv')
test = pd.read_csv('test_final.csv')

In [3]:
train.shape,test.shape

((128655, 47), (14745, 46))

In [4]:
pd.set_option('display.max_columns', 100)

In [5]:
pd.set_option('display.max_rows', 100)

In [6]:
train.head()

,ID,SELF-INDICATOR-TRUE,MATCH-TYPE_PRIMARY,ACCOUNT-STATUS_Active,ACCOUNT-STATUS_Closed,ACCOUNT-STATUS_Default,ACCT-TYPE_Business Loan,ACCT-TYPE_Credit Card,ACCT-TYPE_Personal Loan,OWNERSHIP-IND_Individual,OWNERSHIP-IND_Joint,OWNERSHIP-IND_Primary,OWNERSHIP-IND_Supl Card Holder,CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR,CONTRIBUTOR-TYPE_MID_CONTRIBUTOR,CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR,Total-Loans,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,OVERDUE-AMT,WRITE-OFF-AMT,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,DisbursalAmount,EMI,DisbursalDate,MaturityDAte,AuthDate,AssetID,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE,Top-up Month
0,1,5,9,3,5,1,0,1,8,9,0,0,0,0,5,4,9,2201352,1037.666667,68725.11111,4208.111111,0,Monthly,Arrear,Closed,PDC_E,1,NaN,48,450000,275000.0,275000.0,24000.0,10-02-2012,15-01-2016,10-02-2012,4022465,1568,21946,61.11,M,49.0,35833.33,RAISEN,MADHYA PRADESH,464993.0,> 48 Months
1,2,1,13,7,6,0,7,0,6,9,0,0,0,0,7,6,13,18117081,13404.846150,796112.07690,0.000000,0,Monthly,Advance,Closed,PDC,333,BHOPAL,47,485000,350000.0,350000.0,10500.0,31-03-2012,15-02-2016,31-03-2012,4681175,1062,34802,70.00,M,23.0,666.67,SEHORE,MADHYA PRADESH,466001.0,No Top-up Service
2,3,2,31,11,19,1,3,6,22,26,4,0,0,0,17,14,31,3708369,3078.580645,66618.22581,3338.387097,0,Quatrly,Arrear,Active,Direct Debit,1,NaN,68,690000,519728.0,519728.0,38300.0,17-06-2017,10-02-2023,17-06-2017,25328146,1060,127335,69.77,M,39.0,45257.00,BHOPAL,MADHYA PRADESH,462030.0,12-18 Months
3,7,2,4,2,2,0,0,0,4,4,0,0,0,0,4,0,4,1272553,1392.750000,156000.00000,0.000000,0,Monthly,Advance,Closed,Billed,125,GUNA,48,480000,400000.0,400000.0,11600.0,29-11-2013,10-11-2017,29-11-2013,13021591,1060,25094,80.92,M,24.0,20833.33,ASHOK NAGAR,MADHYA PRADESH,473335.0,> 48 Months
4,8,1,7,3,2,2,1,0,6,3,3,0,0,0,4,3,7,2025216,1248.285714,139159.85710,5026.428571,0,Monthly,Arrear,Closed,Billed,152,BILASPUR,44,619265,440000.0,440000.0,15000.0,08-12-2011,05-07-2015,08-12-2011,3291320,1046,21853,71.05,M,56.0,27313.67,BILASPUR,CHATTISGARH,495442.0,36-48 Months

In [52]:
train = train.drop(columns=['Unnamed: 47'],axis=1)

In [53]:
train.head()

,ID,SELF-INDICATOR-TRUE,MATCH-TYPE_PRIMARY,ACCOUNT-STATUS_Active,ACCOUNT-STATUS_Closed,ACCOUNT-STATUS_Default,ACCT-TYPE_Business Loan,ACCT-TYPE_Credit Card,ACCT-TYPE_Personal Loan,OWNERSHIP-IND_Individual,OWNERSHIP-IND_Joint,OWNERSHIP-IND_Primary,OWNERSHIP-IND_Supl Card Holder,CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR,CONTRIBUTOR-TYPE_MID_CONTRIBUTOR,CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR,Total-Loans,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,OVERDUE-AMT,WRITE-OFF-AMT,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,DisbursalAmount,EMI,DisbursalDate,MaturityDAte,AuthDate,AssetID,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE,Top-up Month
0,1,5,9,3,5,1,0,1,8,9,0,0,0,0,5,4,9,2201352,1037.666667,68725.11111,4208.111111,0,Monthly,Arrear,Closed,PDC_E,1,NaN,48,450000,275000.0,275000.0,24000.0,10-02-2012,15-01-2016,10-02-2012,4022465,1568,21946,61.11,M,49.0,35833.33,RAISEN,MADHYA PRADESH,464993.0,> 48 Months
1,2,1,13,7,6,0,7,0,6,9,0,0,0,0,7,6,13,18117081,13404.846150,796112.07690,0.000000,0,Monthly,Advance,Closed,PDC,333,BHOPAL,47,485000,350000.0,350000.0,10500.0,31-03-2012,15-02-2016,31-03-2012,4681175,1062,34802,70.00,M,23.0,666.67,SEHORE,MADHYA PRADESH,466001.0,No Top-up Service
2,3,2,31,11,19,1,3,6,22,26,4,0,0,0,17,14,31,3708369,3078.580645,66618.22581,3338.387097,0,Quatrly,Arrear,Active,Direct Debit,1,NaN,68,690000,519728.0,519728.0,38300.0,17-06-2017,10-02-2023,17-06-2017,25328146,1060,127335,69.77,M,39.0,45257.00,BHOPAL,MADHYA PRADESH,462030.0,12-18 Months
3,7,2,4,2,2,0,0,0,4,4,0,0,0,0,4,0,4,1272553,1392.750000,156000.00000,0.000000,0,Monthly,Advance,Closed,Billed,125,GUNA,48,480000,400000.0,400000.0,11600.0,29-11-2013,10-11-2017,29-11-2013,13021591,1060,25094,80.92,M,24.0,20833.33,ASHOK NAGAR,MADHYA PRADESH,473335.0,> 48 Months
4,8,1,7,3,2,2,1,0,6,3,3,0,0,0,4,3,7,2025216,1248.285714,139159.85710,5026.428571,0,Monthly,Arrear,Closed,Billed,152,BILASPUR,44,619265,440000.0,440000.0,15000.0,08-12-2011,05-07-2015,08-12-2011,3291320,1046,21853,71.05,M,56.0,27313.67,BILASPUR,CHATTISGARH,495442.0,36-48 Months

In [7]:
train.isnull().sum()

ID                                      0
SELF-INDICATOR-TRUE                     0
MATCH-TYPE_PRIMARY                      0
ACCOUNT-STATUS_Active                   0
ACCOUNT-STATUS_Closed                   0
ACCOUNT-STATUS_Default                  0
ACCT-TYPE_Business Loan                 0
ACCT-TYPE_Credit Card                   0
ACCT-TYPE_Personal Loan                 0
OWNERSHIP-IND_Individual                0
OWNERSHIP-IND_Joint                     0
OWNERSHIP-IND_Primary                   0
OWNERSHIP-IND_Supl Card Holder          0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR        0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR        0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR        0
Total-Loans                             0
DISBURSED-AMT/HIGH CREDIT               0
INSTALLMENT-AMT                         0
CURRENT-BAL                             0
OVERDUE-AMT                             0
WRITE-OFF-AMT                           0
Frequency                               0
InstlmentMode                           0
LoanStatus                              0
PaymentMode                             0
BranchID                                0
Area                                11653
Tenure                                  0
AssetCost                               0
AmountFinance                           0
DisbursalAmount                         0
EMI                                     0
DisbursalDate                           0
MaturityDAte                            1
AuthDate                                0
AssetID                                 0
ManufacturerID                          0
SupplierID                              0
LTV                                     0
SEX                                    59
AGE                                    59
MonthlyIncome                         234
City                                11256
State                                   0
ZiPCODE                               372
Top-up Month                            0
dtype: int64

In [8]:
train=train.rename(columns={'InstlmentMode':'Installment_mode','LoanStatus':'Loan_status', 'PaymentMode':'Payment_mode',
       'BranchID':'Branch_ID','AssetCost':'Asset_cost', 'AmountFinance':'Amount_finance',
       'DisbursalAmount':'Disbursal_amount','DisbursalDate':'Disbursal_date','MaturityDAte':'Maturity_date', 'AuthDate':'Auth_date',
       'AssetID':'Asset_ID', 'ManufacturerID':'Manufacturer_ID', 'SupplierID':'Supplier_ID', 'LTV':'Loan_To_Value', 'SEX':'Sex', 'AGE':'Age',
       'MonthlyIncome':'Monthly_income', 'ZiPCODE':'Zipcode','Top-up Month':'Top-up_month'})

In [9]:
train.isnull().sum()

ID                                      0
SELF-INDICATOR-TRUE                     0
MATCH-TYPE_PRIMARY                      0
ACCOUNT-STATUS_Active                   0
ACCOUNT-STATUS_Closed                   0
ACCOUNT-STATUS_Default                  0
ACCT-TYPE_Business Loan                 0
ACCT-TYPE_Credit Card                   0
ACCT-TYPE_Personal Loan                 0
OWNERSHIP-IND_Individual                0
OWNERSHIP-IND_Joint                     0
OWNERSHIP-IND_Primary                   0
OWNERSHIP-IND_Supl Card Holder          0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR        0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR        0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR        0
Total-Loans                             0
DISBURSED-AMT/HIGH CREDIT               0
INSTALLMENT-AMT                         0
CURRENT-BAL                             0
OVERDUE-AMT                             0
WRITE-OFF-AMT                           0
Frequency                               0
Installment_mode                        0
Loan_status                             0
Payment_mode                            0
Branch_ID                               0
Area                                11653
Tenure                                  0
Asset_cost                              0
Amount_finance                          0
Disbursal_amount                        0
EMI                                     0
Disbursal_date                          0
Maturity_date                           1
Auth_date                               0
Asset_ID                                0
Manufacturer_ID                         0
Supplier_ID                             0
Loan_To_Value                           0
Sex                                    59
Age                                    59
Monthly_income                        234
City                                11256
State                                   0
Zipcode                               372
Top-up_month                            0
dtype: int64

In [10]:
train = train.dropna(subset=['Sex','Age','Maturity_date'])
train.shape

(128595, 47)

In [11]:
dict_zipcode = train.set_index('Zipcode')['City'].to_dict()

In [12]:
for i in range(len(train)):
    if (pd.isnull(train.iloc[i,43])==True):
        x = train.iloc[i,45]
        train.iloc[i,43] = dict_zipcode.get(x)

In [13]:
train.isnull().sum()

ID                                      0
SELF-INDICATOR-TRUE                     0
MATCH-TYPE_PRIMARY                      0
ACCOUNT-STATUS_Active                   0
ACCOUNT-STATUS_Closed                   0
ACCOUNT-STATUS_Default                  0
ACCT-TYPE_Business Loan                 0
ACCT-TYPE_Credit Card                   0
ACCT-TYPE_Personal Loan                 0
OWNERSHIP-IND_Individual                0
OWNERSHIP-IND_Joint                     0
OWNERSHIP-IND_Primary                   0
OWNERSHIP-IND_Supl Card Holder          0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR        0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR        0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR        0
Total-Loans                             0
DISBURSED-AMT/HIGH CREDIT               0
INSTALLMENT-AMT                         0
CURRENT-BAL                             0
OVERDUE-AMT                             0
WRITE-OFF-AMT                           0
Frequency                               0
Installment_mode                        0
Loan_status                             0
Payment_mode                            0
Branch_ID                               0
Area                                11648
Tenure                                  0
Asset_cost                              0
Amount_finance                          0
Disbursal_amount                        0
EMI                                     0
Disbursal_date                          0
Maturity_date                           0
Auth_date                               0
Asset_ID                                0
Manufacturer_ID                         0
Supplier_ID                             0
Loan_To_Value                           0
Sex                                     0
Age                                     0
Monthly_income                        181
City                                 1367
State                                   0
Zipcode                               371
Top-up_month                            0
dtype: int64

In [32]:
for i in range(len(train)):
    if (pd.isnull(train.iloc[i,27])==True):
        train.iloc[i,27] = train.iloc[i,43]

In [15]:
train.isnull().sum()

ID                                     0
SELF-INDICATOR-TRUE                    0
MATCH-TYPE_PRIMARY                     0
ACCOUNT-STATUS_Active                  0
ACCOUNT-STATUS_Closed                  0
ACCOUNT-STATUS_Default                 0
ACCT-TYPE_Business Loan                0
ACCT-TYPE_Credit Card                  0
ACCT-TYPE_Personal Loan                0
OWNERSHIP-IND_Individual               0
OWNERSHIP-IND_Joint                    0
OWNERSHIP-IND_Primary                  0
OWNERSHIP-IND_Supl Card Holder         0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR       0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR       0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR       0
Total-Loans                            0
DISBURSED-AMT/HIGH CREDIT              0
INSTALLMENT-AMT                        0
CURRENT-BAL                            0
OVERDUE-AMT                            0
WRITE-OFF-AMT                          0
Frequency                              0
Installment_mode                       0
Loan_status                            0
Payment_mode                           0
Branch_ID                              0
Area                                 161
Tenure                                 0
Asset_cost                             0
Amount_finance                         0
Disbursal_amount                       0
EMI                                    0
Disbursal_date                         0
Maturity_date                          0
Auth_date                              0
Asset_ID                               0
Manufacturer_ID                        0
Supplier_ID                            0
Loan_To_Value                          0
Sex                                    0
Age                                    0
Monthly_income                       181
City                                1367
State                                  0
Zipcode                              371
Top-up_month                           0
dtype: int64

In [16]:
train.shape

(128595, 47)

In [17]:
train = train[(train.Area.isnull()==False) | (train.City.isnull()==False) | (train.Zipcode.isnull()==False)]

In [18]:
train.isnull().sum()

ID                                     0
SELF-INDICATOR-TRUE                    0
MATCH-TYPE_PRIMARY                     0
ACCOUNT-STATUS_Active                  0
ACCOUNT-STATUS_Closed                  0
ACCOUNT-STATUS_Default                 0
ACCT-TYPE_Business Loan                0
ACCT-TYPE_Credit Card                  0
ACCT-TYPE_Personal Loan                0
OWNERSHIP-IND_Individual               0
OWNERSHIP-IND_Joint                    0
OWNERSHIP-IND_Primary                  0
OWNERSHIP-IND_Supl Card Holder         0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR       0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR       0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR       0
Total-Loans                            0
DISBURSED-AMT/HIGH CREDIT              0
INSTALLMENT-AMT                        0
CURRENT-BAL                            0
OVERDUE-AMT                            0
WRITE-OFF-AMT                          0
Frequency                              0
Installment_mode                       0
Loan_status                            0
Payment_mode                           0
Branch_ID                              0
Area                                 114
Tenure                                 0
Asset_cost                             0
Amount_finance                         0
Disbursal_amount                       0
EMI                                    0
Disbursal_date                         0
Maturity_date                          0
Auth_date                              0
Asset_ID                               0
Manufacturer_ID                        0
Supplier_ID                            0
Loan_To_Value                          0
Sex                                    0
Age                                    0
Monthly_income                       181
City                                1320
State                                  0
Zipcode                              324
Top-up_month                           0
dtype: int64

In [19]:
train.shape

(128548, 47)

In [20]:
df = train.groupby(['State']).agg(lambda x:x.value_counts().index[0])

In [30]:
for i in range(len(train)):
    if (pd.isnull(train.iloc[i,43])==True):
        state = train.iloc[i,44]
        city = df.loc[state,'City']
        train.iloc[i,43] = city

In [22]:
train.isnull().sum()

ID                                    0
SELF-INDICATOR-TRUE                   0
MATCH-TYPE_PRIMARY                    0
ACCOUNT-STATUS_Active                 0
ACCOUNT-STATUS_Closed                 0
ACCOUNT-STATUS_Default                0
ACCT-TYPE_Business Loan               0
ACCT-TYPE_Credit Card                 0
ACCT-TYPE_Personal Loan               0
OWNERSHIP-IND_Individual              0
OWNERSHIP-IND_Joint                   0
OWNERSHIP-IND_Primary                 0
OWNERSHIP-IND_Supl Card Holder        0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR      0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR      0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR      0
Total-Loans                           0
DISBURSED-AMT/HIGH CREDIT             0
INSTALLMENT-AMT                       0
CURRENT-BAL                           0
OVERDUE-AMT                           0
WRITE-OFF-AMT                         0
Frequency                             0
Installment_mode                      0
Loan_status                           0
Payment_mode                          0
Branch_ID                             0
Area                                114
Tenure                                0
Asset_cost                            0
Amount_finance                        0
Disbursal_amount                      0
EMI                                   0
Disbursal_date                        0
Maturity_date                         0
Auth_date                             0
Asset_ID                              0
Manufacturer_ID                       0
Supplier_ID                           0
Loan_To_Value                         0
Sex                                   0
Age                                   0
Monthly_income                      181
City                                  0
State                                 0
Zipcode                             324
Top-up_month                          0
dtype: int64

In [71]:
for i in range(len(train)):
    if (pd.isnull(train.iloc[i,27])==True):
        train.iloc[i,27] = train.iloc[i,43]

In [72]:
train.isnull().sum()

ID                                    0
SELF-INDICATOR-TRUE                   0
MATCH-TYPE_PRIMARY                    0
ACCOUNT-STATUS_Active                 0
ACCOUNT-STATUS_Closed                 0
ACCOUNT-STATUS_Default                0
ACCT-TYPE_Business Loan               0
ACCT-TYPE_Credit Card                 0
ACCT-TYPE_Personal Loan               0
OWNERSHIP-IND_Individual              0
OWNERSHIP-IND_Joint                   0
OWNERSHIP-IND_Primary                 0
OWNERSHIP-IND_Supl Card Holder        0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR      0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR      0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR      0
Total-Loans                           0
DISBURSED-AMT/HIGH CREDIT             0
INSTALLMENT-AMT                       0
CURRENT-BAL                           0
OVERDUE-AMT                           0
WRITE-OFF-AMT                         0
Frequency                             0
Installment_mode                      0
Loan_status                           0
Payment_mode                          0
Branch_ID                             0
Area                                  0
Tenure                                0
Asset_cost                            0
Amount_finance                        0
Disbursal_amount                      0
EMI                                   0
Disbursal_date                        0
Maturity_date                         0
Auth_date                             0
Asset_ID                              0
Manufacturer_ID                       0
Supplier_ID                           0
Loan_To_Value                         0
Sex                                   0
Age                                   0
Monthly_income                      181
City                                  0
State                                 0
Zipcode                             324
Top-up_month                          0
dtype: int64

In [23]:
dict_remaining_zipcode = train.set_index('City')['Zipcode'].to_dict()

In [24]:
for i in range(len(train)):
    if (pd.isnull(train.iloc[i,45])==True):
        x = train.iloc[i,43]
        train.iloc[i,45] = dict_remaining_zipcode.get(x)

In [25]:
train.isnull().sum()

ID                                    0
SELF-INDICATOR-TRUE                   0
MATCH-TYPE_PRIMARY                    0
ACCOUNT-STATUS_Active                 0
ACCOUNT-STATUS_Closed                 0
ACCOUNT-STATUS_Default                0
ACCT-TYPE_Business Loan               0
ACCT-TYPE_Credit Card                 0
ACCT-TYPE_Personal Loan               0
OWNERSHIP-IND_Individual              0
OWNERSHIP-IND_Joint                   0
OWNERSHIP-IND_Primary                 0
OWNERSHIP-IND_Supl Card Holder        0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR      0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR      0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR      0
Total-Loans                           0
DISBURSED-AMT/HIGH CREDIT             0
INSTALLMENT-AMT                       0
CURRENT-BAL                           0
OVERDUE-AMT                           0
WRITE-OFF-AMT                         0
Frequency                             0
Installment_mode                      0
Loan_status                           0
Payment_mode                          0
Branch_ID                             0
Area                                114
Tenure                                0
Asset_cost                            0
Amount_finance                        0
Disbursal_amount                      0
EMI                                   0
Disbursal_date                        0
Maturity_date                         0
Auth_date                             0
Asset_ID                              0
Manufacturer_ID                       0
Supplier_ID                           0
Loan_To_Value                         0
Sex                                   0
Age                                   0
Monthly_income                      181
City                                  0
State                                 0
Zipcode                               0
Top-up_month                          0
dtype: int64

In [26]:
median = train.groupby(['Age']).agg(lambda x:x.median())

In [27]:
for i in range(len(train)):
    if (pd.isnull(train.iloc[i,42])==True):
        age = train.iloc[i,41]
        monthly_income = median.loc[age,'Monthly_income']
        train.iloc[i,42] = monthly_income

In [33]:
train.isnull().sum()

ID                                  0
SELF-INDICATOR-TRUE                 0
MATCH-TYPE_PRIMARY                  0
ACCOUNT-STATUS_Active               0
ACCOUNT-STATUS_Closed               0
ACCOUNT-STATUS_Default              0
ACCT-TYPE_Business Loan             0
ACCT-TYPE_Credit Card               0
ACCT-TYPE_Personal Loan             0
OWNERSHIP-IND_Individual            0
OWNERSHIP-IND_Joint                 0
OWNERSHIP-IND_Primary               0
OWNERSHIP-IND_Supl Card Holder      0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR    0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR    0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR    0
Total-Loans                         0
DISBURSED-AMT/HIGH CREDIT           0
INSTALLMENT-AMT                     0
CURRENT-BAL                         0
OVERDUE-AMT                         0
WRITE-OFF-AMT                       0
Frequency                           0
Installment_mode                    0
Loan_status                         0
Payment_mode                        0
Branch_ID                           0
Area                                0
Tenure                              0
Asset_cost                          0
Amount_finance                      0
Disbursal_amount                    0
EMI                                 0
Disbursal_date                      0
Maturity_date                       0
Auth_date                           0
Asset_ID                            0
Manufacturer_ID                     0
Supplier_ID                         0
Loan_To_Value                       0
Sex                                 0
Age                                 0
Monthly_income                      0
City                                0
State                               0
Zipcode                             0
Top-up_month                        0
dtype: int64

In [80]:
train.to_csv('train_preprocessed.csv',index=True)

In [ ]:
#TEST PREPROCESSING

In [81]:
test.head()

,ID,SELF-INDICATOR-TRUE,MATCH-TYPE_PRIMARY,ACCOUNT-STATUS_Active,ACCOUNT-STATUS_Closed,ACCOUNT-STATUS_Default,ACCT-TYPE_Business Loan,ACCT-TYPE_Credit Card,ACCT-TYPE_Personal Loan,OWNERSHIP-IND_Individual,OWNERSHIP-IND_Joint,OWNERSHIP-IND_Primary,OWNERSHIP-IND_Supl Card Holder,CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR,CONTRIBUTOR-TYPE_MID_CONTRIBUTOR,CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR,Total-Loans,DISBURSED-AMT/HIGH CREDIT,INSTALLMENT-AMT,CURRENT-BAL,OVERDUE-AMT,WRITE-OFF-AMT,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,DisbursalAmount,EMI,DisbursalDate,MaturityDAte,AuthDate,AssetID,ManufacturerID,SupplierID,LTV,SEX,AGE,MonthlyIncome,City,State,ZiPCODE
0,4,1,4,3,1,0,0,1,3,2,2,0,0,0,4,0,4,2964588,8005.0,547818.500000,0.0,0,Monthly,Advance,Closed,PDC_E,2,GUNA,46,480000,365000.0,365000.0,1000.0,29-12-2011,05-10-2015,29-12-2011,3524747,1046.0,22354,75.83,M,50.0,32069.00,GUNA,MADHYA PRADESH,473001.0
1,5,1,8,2,6,0,0,0,8,6,2,0,0,1,4,3,8,1939813,1282.5,113403.875000,0.0,0,Monthly,Advance,Closed,PDC,2,GUNA,45,480000,285000.0,285000.0,9300.0,28-04-2012,01-01-2016,28-04-2012,4985862,1046.0,22354,57.44,M,35.0,25000.00,GUNA,MADHYA PRADESH,473001.0
2,6,2,12,1,11,0,0,0,12,6,1,0,0,0,11,1,12,3237361,0.0,8566.666667,0.0,0,Quatrly,Arrear,Closed,PDC,2,GUNA,48,580000,400000.0,400000.0,35800.0,22-10-2013,10-09-2017,22-10-2013,12881783,1060.0,65929,68.97,M,37.0,23333.33,GUNA,MADHYA PRADESH,473001.0
3,25,1,2,1,1,0,1,0,1,2,0,0,0,0,1,1,2,800000,0.0,63796.500000,0.0,0,Half Yearly,Arrear,Closed,Billed,154,NaN,36,725000,500000.0,500000.0,52000.0,21-05-2013,10-02-2016,21-05-2013,10613776,1049.0,68597,61.79,M,55.0,91666.67,MAHASAMUND,CHATTISGARH,493558.0
4,119,1,2,1,1,0,0,0,2,1,0,0,0,0,2,0,2,930000,8000.0,58100.000000,0.0,0,Quatrly,Arrear,Closed,PDC,194,CUTTACK,48,617000,400000.0,400000.0,35400.0,30-11-2012,05-12-2016,30-11-2012,7911110,1049.0,38493,59.09,M,48.0,12500.00,JAGATSINGHAPUR,ORISSA,754137.0

In [88]:
test=test.rename(columns={'InstlmentMode':'Installment_mode','LoanStatus':'Loan_status', 'PaymentMode':'Payment_mode',
       'BranchID':'Branch_ID','AssetCost':'Asset_cost', 'AmountFinance':'Amount_finance',
       'DisbursalAmount':'Disbursal_amount','DisbursalDate':'Disbursal_date','MaturityDAte':'Maturity_date', 'AuthDate':'Auth_date',
       'AssetID':'Asset_ID', 'ManufacturerID':'Manufacturer_ID', 'SupplierID':'Supplier_ID', 'LTV':'Loan_To_Value', 'SEX':'Sex', 'AGE':'Age',
       'MonthlyIncome':'Monthly_income', 'ZiPCODE':'Zipcode'})

In [89]:
test.isnull().sum()

ID                                    0
SELF-INDICATOR-TRUE                   0
MATCH-TYPE_PRIMARY                    0
ACCOUNT-STATUS_Active                 0
ACCOUNT-STATUS_Closed                 0
ACCOUNT-STATUS_Default                0
ACCT-TYPE_Business Loan               0
ACCT-TYPE_Credit Card                 0
ACCT-TYPE_Personal Loan               0
OWNERSHIP-IND_Individual              0
OWNERSHIP-IND_Joint                   0
OWNERSHIP-IND_Primary                 0
OWNERSHIP-IND_Supl Card Holder        0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR      0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR      0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR      0
Total-Loans                           0
DISBURSED-AMT/HIGH CREDIT             0
INSTALLMENT-AMT                       0
CURRENT-BAL                           0
OVERDUE-AMT                           0
WRITE-OFF-AMT                         0
Frequency                             0
Installment_mode                      0
Loan_status                           0
Payment_mode                          0
Branch_ID                             0
Area                                546
Tenure                                0
Asset_cost                            0
Amount_finance                        0
Disbursal_amount                      0
EMI                                   0
Disbursal_date                        0
Maturity_date                         0
Auth_date                             0
Asset_ID                              0
Manufacturer_ID                       2
Supplier_ID                           0
Loan_To_Value                         0
Sex                                   5
Age                                   7
Monthly_income                       14
City                                  0
State                                 0
Zipcode                               1
dtype: int64

In [90]:
test['Sex'].fillna("M",inplace=True)

In [91]:
test.isnull().sum()

ID                                    0
SELF-INDICATOR-TRUE                   0
MATCH-TYPE_PRIMARY                    0
ACCOUNT-STATUS_Active                 0
ACCOUNT-STATUS_Closed                 0
ACCOUNT-STATUS_Default                0
ACCT-TYPE_Business Loan               0
ACCT-TYPE_Credit Card                 0
ACCT-TYPE_Personal Loan               0
OWNERSHIP-IND_Individual              0
OWNERSHIP-IND_Joint                   0
OWNERSHIP-IND_Primary                 0
OWNERSHIP-IND_Supl Card Holder        0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR      0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR      0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR      0
Total-Loans                           0
DISBURSED-AMT/HIGH CREDIT             0
INSTALLMENT-AMT                       0
CURRENT-BAL                           0
OVERDUE-AMT                           0
WRITE-OFF-AMT                         0
Frequency                             0
Installment_mode                      0
Loan_status                           0
Payment_mode                          0
Branch_ID                             0
Area                                546
Tenure                                0
Asset_cost                            0
Amount_finance                        0
Disbursal_amount                      0
EMI                                   0
Disbursal_date                        0
Maturity_date                         0
Auth_date                             0
Asset_ID                              0
Manufacturer_ID                       2
Supplier_ID                           0
Loan_To_Value                         0
Sex                                   0
Age                                   7
Monthly_income                       14
City                                  0
State                                 0
Zipcode                               1
dtype: int64

In [93]:
test['Zipcode'].fillna(491335,inplace=True)

In [94]:
test['Manufacturer_ID'].fillna(1019,inplace=True)

In [95]:
test.isnull().sum()

ID                                    0
SELF-INDICATOR-TRUE                   0
MATCH-TYPE_PRIMARY                    0
ACCOUNT-STATUS_Active                 0
ACCOUNT-STATUS_Closed                 0
ACCOUNT-STATUS_Default                0
ACCT-TYPE_Business Loan               0
ACCT-TYPE_Credit Card                 0
ACCT-TYPE_Personal Loan               0
OWNERSHIP-IND_Individual              0
OWNERSHIP-IND_Joint                   0
OWNERSHIP-IND_Primary                 0
OWNERSHIP-IND_Supl Card Holder        0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR      0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR      0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR      0
Total-Loans                           0
DISBURSED-AMT/HIGH CREDIT             0
INSTALLMENT-AMT                       0
CURRENT-BAL                           0
OVERDUE-AMT                           0
WRITE-OFF-AMT                         0
Frequency                             0
Installment_mode                      0
Loan_status                           0
Payment_mode                          0
Branch_ID                             0
Area                                546
Tenure                                0
Asset_cost                            0
Amount_finance                        0
Disbursal_amount                      0
EMI                                   0
Disbursal_date                        0
Maturity_date                         0
Auth_date                             0
Asset_ID                              0
Manufacturer_ID                       0
Supplier_ID                           0
Loan_To_Value                         0
Sex                                   0
Age                                   7
Monthly_income                       14
City                                  0
State                                 0
Zipcode                               0
dtype: int64

In [96]:
test['Age'].fillna(40,inplace=True)

In [97]:
for i in range(len(test)):
    if (pd.isnull(test.iloc[i,27])==True):
        test.iloc[i,27] = test.iloc[i,43]

In [98]:
test.isnull().sum()

ID                                   0
SELF-INDICATOR-TRUE                  0
MATCH-TYPE_PRIMARY                   0
ACCOUNT-STATUS_Active                0
ACCOUNT-STATUS_Closed                0
ACCOUNT-STATUS_Default               0
ACCT-TYPE_Business Loan              0
ACCT-TYPE_Credit Card                0
ACCT-TYPE_Personal Loan              0
OWNERSHIP-IND_Individual             0
OWNERSHIP-IND_Joint                  0
OWNERSHIP-IND_Primary                0
OWNERSHIP-IND_Supl Card Holder       0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR     0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR     0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR     0
Total-Loans                          0
DISBURSED-AMT/HIGH CREDIT            0
INSTALLMENT-AMT                      0
CURRENT-BAL                          0
OVERDUE-AMT                          0
WRITE-OFF-AMT                        0
Frequency                            0
Installment_mode                     0
Loan_status                          0
Payment_mode                         0
Branch_ID                            0
Area                                 0
Tenure                               0
Asset_cost                           0
Amount_finance                       0
Disbursal_amount                     0
EMI                                  0
Disbursal_date                       0
Maturity_date                        0
Auth_date                            0
Asset_ID                             0
Manufacturer_ID                      0
Supplier_ID                          0
Loan_To_Value                        0
Sex                                  0
Age                                  0
Monthly_income                      14
City                                 0
State                                0
Zipcode                              0
dtype: int64

In [99]:
median_test = test.groupby(['Age']).agg(lambda x:x.median())

In [100]:
for i in range(len(test)):
    if (pd.isnull(test.iloc[i,42])==True):
        age = test.iloc[i,41]
        monthly_income = median_test.loc[age,'Monthly_income']
        test.iloc[i,42] = monthly_income

In [101]:
test.isnull().sum()

ID                                  0
SELF-INDICATOR-TRUE                 0
MATCH-TYPE_PRIMARY                  0
ACCOUNT-STATUS_Active               0
ACCOUNT-STATUS_Closed               0
ACCOUNT-STATUS_Default              0
ACCT-TYPE_Business Loan             0
ACCT-TYPE_Credit Card               0
ACCT-TYPE_Personal Loan             0
OWNERSHIP-IND_Individual            0
OWNERSHIP-IND_Joint                 0
OWNERSHIP-IND_Primary               0
OWNERSHIP-IND_Supl Card Holder      0
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR    0
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR    0
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR    0
Total-Loans                         0
DISBURSED-AMT/HIGH CREDIT           0
INSTALLMENT-AMT                     0
CURRENT-BAL                         0
OVERDUE-AMT                         0
WRITE-OFF-AMT                       0
Frequency                           0
Installment_mode                    0
Loan_status                         0
Payment_mode                        0
Branch_ID                           0
Area                                0
Tenure                              0
Asset_cost                          0
Amount_finance                      0
Disbursal_amount                    0
EMI                                 0
Disbursal_date                      0
Maturity_date                       0
Auth_date                           0
Asset_ID                            0
Manufacturer_ID                     0
Supplier_ID                         0
Loan_To_Value                       0
Sex                                 0
Age                                 0
Monthly_income                      0
City                                0
State                               0
Zipcode                             0
dtype: int64

In [102]:
test.to_csv('test_preprocessed.csv',index=True)

In [103]:
#MORE PREPROCESSING

In [104]:
train.columns,test.columns

(Index(['ID', 'SELF-INDICATOR-TRUE', 'MATCH-TYPE_PRIMARY',
        'ACCOUNT-STATUS_Active', 'ACCOUNT-STATUS_Closed',
        'ACCOUNT-STATUS_Default', 'ACCT-TYPE_Business Loan',
        'ACCT-TYPE_Credit Card', 'ACCT-TYPE_Personal Loan',
        'OWNERSHIP-IND_Individual', 'OWNERSHIP-IND_Joint',
        'OWNERSHIP-IND_Primary', 'OWNERSHIP-IND_Supl Card Holder',
        'CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR', 'CONTRIBUTOR-TYPE_MID_CONTRIBUTOR',
        'CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR', 'Total-Loans',
        'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
        'OVERDUE-AMT', 'WRITE-OFF-AMT', 'Frequency', 'Installment_mode',
        'Loan_status', 'Payment_mode', 'Branch_ID', 'Area', 'Tenure',
        'Asset_cost', 'Amount_finance', 'Disbursal_amount', 'EMI',
        'Disbursal_date', 'Maturity_date', 'Auth_date', 'Asset_ID',
        'Manufacturer_ID', 'Supplier_ID', 'Loan_To_Value', 'Sex', 'Age',
        'Monthly_income', 'City', 'State', 'Zipcode', 'Top-up_month'],
       dtype='object'),
 Index(['ID', 'SELF-INDICATOR-TRUE', 'MATCH-TYPE_PRIMARY',
        'ACCOUNT-STATUS_Active', 'ACCOUNT-STATUS_Closed',
        'ACCOUNT-STATUS_Default', 'ACCT-TYPE_Business Loan',
        'ACCT-TYPE_Credit Card', 'ACCT-TYPE_Personal Loan',
        'OWNERSHIP-IND_Individual', 'OWNERSHIP-IND_Joint',
        'OWNERSHIP-IND_Primary', 'OWNERSHIP-IND_Supl Card Holder',
        'CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR', 'CONTRIBUTOR-TYPE_MID_CONTRIBUTOR',
        'CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR', 'Total-Loans',
        'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
        'OVERDUE-AMT', 'WRITE-OFF-AMT', 'Frequency', 'Installment_mode',
        'Loan_status', 'Payment_mode', 'Branch_ID', 'Area', 'Tenure',
        'Asset_cost', 'Amount_finance', 'Disbursal_amount', 'EMI',
        'Disbursal_date', 'Maturity_date', 'Auth_date', 'Asset_ID',
        'Manufacturer_ID', 'Supplier_ID', 'Loan_To_Value', 'Sex', 'Age',
        'Monthly_income', 'City', 'State', 'Zipcode'],
       dtype='object'))

In [105]:
train.shape,test.shape

((128548, 47), (14745, 46))

In [106]:
train.dtypes

ID                                    int64
SELF-INDICATOR-TRUE                   int64
MATCH-TYPE_PRIMARY                    int64
ACCOUNT-STATUS_Active                 int64
ACCOUNT-STATUS_Closed                 int64
ACCOUNT-STATUS_Default                int64
ACCT-TYPE_Business Loan               int64
ACCT-TYPE_Credit Card                 int64
ACCT-TYPE_Personal Loan               int64
OWNERSHIP-IND_Individual              int64
OWNERSHIP-IND_Joint                   int64
OWNERSHIP-IND_Primary                 int64
OWNERSHIP-IND_Supl Card Holder        int64
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR      int64
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR      int64
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR      int64
Total-Loans                           int64
DISBURSED-AMT/HIGH CREDIT             int64
INSTALLMENT-AMT                     float64
CURRENT-BAL                         float64
OVERDUE-AMT                         float64
WRITE-OFF-AMT                         int64
Frequency                            object
Installment_mode                     object
Loan_status                          object
Payment_mode                         object
Branch_ID                             int64
Area                                 object
Tenure                                int64
Asset_cost                            int64
Amount_finance                      float64
Disbursal_amount                    float64
EMI                                 float64
Disbursal_date                       object
Maturity_date                        object
Auth_date                            object
Asset_ID                              int64
Manufacturer_ID                       int64
Supplier_ID                           int64
Loan_To_Value                       float64
Sex                                  object
Age                                 float64
Monthly_income                      float64
City                                 object
State                                object
Zipcode                             float64
Top-up_month                         object
dtype: object

In [108]:
train["days"] = (pd.to_datetime(train['Maturity_date']) - pd.to_datetime(train['Disbursal_date'])).dt.days
test["days"] = (pd.to_datetime(test['Maturity_date']) - pd.to_datetime(test['Disbursal_date'])).dt.days

In [109]:
train.shape,test.shape

((128548, 48), (14745, 47))

In [111]:
train.loc[train['Top-up_month']=="No Top-up Service", 'Top-up_month'] = 0
train.loc[train['Top-up_month']=="12-18 Months", 'Top-up_month'] = 1
train.loc[train['Top-up_month']=="18-24 Months", 'Top-up_month'] = 2
train.loc[train['Top-up_month']=="24-30 Months", 'Top-up_month'] = 3
train.loc[train['Top-up_month']=="30-36 Months", 'Top-up_month'] = 4
train.loc[train['Top-up_month']=="36-48 Months", 'Top-up_month'] = 5
train.loc[train['Top-up_month']==" > 48 Months", 'Top-up_month'] = 6

In [113]:
train = train.drop(columns=['Disbursal_date','Maturity_date','Auth_date'],axis=1)
test = test.drop(columns=['Disbursal_date','Maturity_date','Auth_date'],axis=1)

In [114]:
train.shape,test.shape

((128548, 45), (14745, 44))

In [115]:
train.State.unique()

array(['MADHYA PRADESH', 'CHATTISGARH', 'ORISSA', 'BIHAR', 'WEST BENGAL',
       'RAJASTHAN', 'HARYANA', 'PUNJAB', 'HIMACHAL PRADESH',
       'UTTAR PRADESH', 'UTTARAKHAND', 'KARNATAKA', 'ANDHRA PRADESH',
       'TELANGANA', 'GUJARAT', 'MAHARASHTRA', 'DELHI', 'ASSAM',
       'JHARKHAND', 'TAMIL NADU', 'DADRA AND NAGAR HAVELI', 'CHANDIGARH'],
      dtype=object)

In [116]:
test.State.unique()

array(['MADHYA PRADESH', 'CHATTISGARH', 'ORISSA', 'WEST BENGAL',
       'HARYANA', 'RAJASTHAN', 'PUNJAB', 'UTTAR PRADESH', 'UTTARAKHAND',
       'ANDHRA PRADESH', 'GUJARAT', 'MAHARASHTRA', 'KARNATAKA',
       'TELANGANA', 'JHARKHAND', 'DELHI', 'BIHAR', 'HIMACHAL PRADESH'],
      dtype=object)

In [134]:
train_copy = train.copy()
test_copy = test.copy()

In [135]:
train_copy.shape,test_copy.shape

((128548, 45), (14745, 44))

In [136]:
train_copy = train_copy[(train_copy['State'] == 'MADHYA PRADESH') | (train_copy['State'] == 'CHATTISGARH') | (train_copy['State'] == 'ORISSA') |
                       (train_copy['State'] == 'WEST BENGAL') | (train_copy['State'] == 'HARYANA') | (train_copy['State'] == 'RAJASTHAN') |
                       (train_copy['State'] == 'PUNJAB') | (train_copy['State'] == 'UTTAR PRADESH') | (train_copy['State'] == 'UTTARAKHAND') |
                       (train_copy['State'] == 'ANDHRA PRADESH') | (train_copy['State'] == 'GUJARAT') | (train_copy['State'] == 'MAHARASHTRA') | 
                       (train_copy['State'] == 'KARNATAKA') | (train_copy['State'] == 'TELANGANA') | (train_copy['State'] == 'JHARKHAND') | 
                       (train_copy['State'] == 'DELHI') | (train_copy['State'] == 'BIHAR') | (train_copy['State'] == 'HIMACHAL PRADESH')]

In [137]:
train_copy.State.unique()

array(['MADHYA PRADESH', 'CHATTISGARH', 'ORISSA', 'BIHAR', 'WEST BENGAL',
       'RAJASTHAN', 'HARYANA', 'PUNJAB', 'HIMACHAL PRADESH',
       'UTTAR PRADESH', 'UTTARAKHAND', 'KARNATAKA', 'ANDHRA PRADESH',
       'TELANGANA', 'GUJARAT', 'MAHARASHTRA', 'DELHI', 'JHARKHAND'],
      dtype=object)

In [138]:
train_copy.shape

(128534, 45)

In [139]:
train_copy.Frequency.unique()

array(['Monthly', 'Quatrly', 'Half Yearly', 'BI-Monthly'], dtype=object)

In [140]:
train_copy = train_copy[(train_copy['Frequency'] != 'BI-Monthly')]

In [141]:
train_copy.shape

(128072, 45)

In [143]:
train_copy = train_copy[(train_copy['Payment_mode'] != 'Escrow')]

In [174]:
train_copy.shape,test_copy.shape

((128065, 45), (14745, 44))

In [181]:
train_copy.to_csv('train_preprocessed.csv',index=True)

In [182]:
test_copy.to_csv('test_preprocessed.csv',index=True)

In [183]:
train_copy.columns,test_copy.columns

(Index(['ID', 'SELF-INDICATOR-TRUE', 'MATCH-TYPE_PRIMARY',
        'ACCOUNT-STATUS_Active', 'ACCOUNT-STATUS_Closed',
        'ACCOUNT-STATUS_Default', 'ACCT-TYPE_Business Loan',
        'ACCT-TYPE_Credit Card', 'ACCT-TYPE_Personal Loan',
        'OWNERSHIP-IND_Individual', 'OWNERSHIP-IND_Joint',
        'OWNERSHIP-IND_Primary', 'OWNERSHIP-IND_Supl Card Holder',
        'CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR', 'CONTRIBUTOR-TYPE_MID_CONTRIBUTOR',
        'CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR', 'Total-Loans',
        'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
        'OVERDUE-AMT', 'WRITE-OFF-AMT', 'Frequency', 'Installment_mode',
        'Loan_status', 'Payment_mode', 'Branch_ID', 'Area', 'Tenure',
        'Asset_cost', 'Amount_finance', 'Disbursal_amount', 'EMI', 'Asset_ID',
        'Manufacturer_ID', 'Supplier_ID', 'Loan_To_Value', 'Sex', 'Age',
        'Monthly_income', 'City', 'State', 'Zipcode', 'Top-up_month', 'days'],
       dtype='object'),
 Index(['ID', 'SELF-INDICATOR-TRUE', 'MATCH-TYPE_PRIMARY',
        'ACCOUNT-STATUS_Active', 'ACCOUNT-STATUS_Closed',
        'ACCOUNT-STATUS_Default', 'ACCT-TYPE_Business Loan',
        'ACCT-TYPE_Credit Card', 'ACCT-TYPE_Personal Loan',
        'OWNERSHIP-IND_Individual', 'OWNERSHIP-IND_Joint',
        'OWNERSHIP-IND_Primary', 'OWNERSHIP-IND_Supl Card Holder',
        'CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR', 'CONTRIBUTOR-TYPE_MID_CONTRIBUTOR',
        'CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR', 'Total-Loans',
        'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT', 'CURRENT-BAL',
        'OVERDUE-AMT', 'WRITE-OFF-AMT', 'Frequency', 'Installment_mode',
        'Loan_status', 'Payment_mode', 'Branch_ID', 'Area', 'Tenure',
        'Asset_cost', 'Amount_finance', 'Disbursal_amount', 'EMI', 'Asset_ID',
        'Manufacturer_ID', 'Supplier_ID', 'Loan_To_Value', 'Sex', 'Age',
        'Monthly_income', 'City', 'State', 'Zipcode', 'days'],
       dtype='object'))

In [184]:
train_copy = train_copy.drop(columns=['ID'],axis=1)
test_copy = test_copy.drop(columns=['ID'],axis=1)

In [185]:
train_copy.shape,test_copy.shape

((128065, 44), (14745, 43))

In [186]:
train_copy.dtypes

SELF-INDICATOR-TRUE                   int64
MATCH-TYPE_PRIMARY                    int64
ACCOUNT-STATUS_Active                 int64
ACCOUNT-STATUS_Closed                 int64
ACCOUNT-STATUS_Default                int64
ACCT-TYPE_Business Loan               int64
ACCT-TYPE_Credit Card                 int64
ACCT-TYPE_Personal Loan               int64
OWNERSHIP-IND_Individual              int64
OWNERSHIP-IND_Joint                   int64
OWNERSHIP-IND_Primary                 int64
OWNERSHIP-IND_Supl Card Holder        int64
CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR      int64
CONTRIBUTOR-TYPE_MID_CONTRIBUTOR      int64
CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR      int64
Total-Loans                           int64
DISBURSED-AMT/HIGH CREDIT             int64
INSTALLMENT-AMT                     float64
CURRENT-BAL                         float64
OVERDUE-AMT                         float64
WRITE-OFF-AMT                         int64
Frequency                            object
Installment_mode                     object
Loan_status                          object
Payment_mode                         object
Branch_ID                             int64
Area                                 object
Tenure                                int64
Asset_cost                            int64
Amount_finance                      float64
Disbursal_amount                    float64
EMI                                 float64
Asset_ID                              int64
Manufacturer_ID                       int64
Supplier_ID                           int64
Loan_To_Value                       float64
Sex                                  object
Age                                 float64
Monthly_income                      float64
City                                 object
State                                object
Zipcode                             float64
Top-up_month                         object
days                                  int64
dtype: object

In [187]:
from sklearn import preprocessing
lbl = preprocessing.LabelEncoder()
train_copy['Area'] = lbl.fit_transform(train_copy['Area'].astype(str))
train_copy['City'] = lbl.fit_transform(train_copy['City'].astype(str))

In [188]:
from sklearn import preprocessing
lbl = preprocessing.LabelEncoder()
test_copy['Area'] = lbl.fit_transform(test_copy['Area'].astype(str))
test_copy['City'] = lbl.fit_transform(test_copy['City'].astype(str))

In [196]:
train_copy.loc[train_copy['Top-up_month']=="No Top-up Service", 'Top-up_month'] = 0
train_copy.loc[train_copy['Top-up_month']=="12-18 Months", 'Top-up_month'] = 1
train_copy.loc[train_copy['Top-up_month']=="18-24 Months", 'Top-up_month'] = 2
train_copy.loc[train_copy['Top-up_month']=="24-30 Months", 'Top-up_month'] = 3
train_copy.loc[train_copy['Top-up_month']=="30-36 Months", 'Top-up_month'] = 4
train_copy.loc[train_copy['Top-up_month']=="36-48 Months", 'Top-up_month'] = 5
train_copy.loc[train_copy['Top-up_month']==" > 48 Months", 'Top-up_month'] = 6

In [192]:
def init_encoder(df, col_names_list):
    d={}
    for col_name in col_names_list:
        d[col_name]=df[col_name].unique().tolist()
    return d

def one_hot_encoder(df, var_dict):
    for var, vals in var_dict.items():
        for val in vals:
            df[val] = df[var].apply(lambda x: 1 if val in x else 0)

In [193]:
d = init_encoder(train_copy, ['Frequency','Installment_mode','Loan_status','Payment_mode','State','Sex'])
one_hot_encoder(train_copy, d)

In [199]:
train_copy = train_copy.drop(columns=['Frequency','Installment_mode','Loan_status','Payment_mode','State','Sex'],axis=1)

In [201]:
train_copy.shape

(128065, 75)

In [202]:
d = init_encoder(test_copy, ['Frequency','Installment_mode','Loan_status','Payment_mode','State','Sex'])
one_hot_encoder(test_copy, d)

In [203]:
test_copy = test_copy.drop(columns=['Frequency','Installment_mode','Loan_status','Payment_mode','State','Sex'],axis=1)

In [223]:
test_copy.shape

(14745, 72)

In [252]:
#test_copy = test_copy.drop(columns=['Branch_ID','Supplier_ID'],axis=1)
test_copy = test_copy.drop(columns=['Asset_ID','Manufacturer_ID','ACCOUNT-STATUS_Default','Disbursal_amount'],axis=1)

In [255]:
test_copy.shape

(14745, 66)

In [253]:
X_train = train_copy.drop(columns=['Top-up_month','Area','City','Branch_ID','Supplier_ID','Asset_ID','Manufacturer_ID',
                                  'ACCOUNT-STATUS_Default','Disbursal_amount'],axis=1)
y_train = train_copy['Top-up_month']

In [254]:
X_train.shape

(128065, 66)

In [256]:
from xgboost import XGBClassifier
from xgboost import plot_importance
model=XGBClassifier(learning_rate=0.5)
model.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.5, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [211]:
print(X_train.columns)
print(test_copy.columns)

Index(['SELF-INDICATOR-TRUE', 'MATCH-TYPE_PRIMARY', 'ACCOUNT-STATUS_Active',
       'ACCOUNT-STATUS_Closed', 'ACCOUNT-STATUS_Default',
       'ACCT-TYPE_Business Loan', 'ACCT-TYPE_Credit Card',
       'ACCT-TYPE_Personal Loan', 'OWNERSHIP-IND_Individual',
       'OWNERSHIP-IND_Joint', 'OWNERSHIP-IND_Primary',
       'OWNERSHIP-IND_Supl Card Holder', 'CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR',
       'CONTRIBUTOR-TYPE_MID_CONTRIBUTOR', 'CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR',
       'Total-Loans', 'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT',
       'CURRENT-BAL', 'OVERDUE-AMT', 'WRITE-OFF-AMT', 'Branch_ID', 'Area',
       'Tenure', 'Asset_cost', 'Amount_finance', 'Disbursal_amount', 'EMI',
       'Asset_ID', 'Manufacturer_ID', 'Supplier_ID', 'Loan_To_Value', 'Age',
       'Monthly_income', 'City', 'Zipcode', 'days', 'Monthly', 'Quatrly',
       'Half Yearly', 'Arrear', 'Advance', 'Closed', 'Active', 'PDC_E', 'PDC',
       'Direct Debit', 'Billed', 'ECS', 'Auto Debit', 'SI Reject',
       'ECS Reject', 'Cheque', 'PDC Reject', 'MADHYA PRADESH', 'CHATTISGARH',
       'ORISSA', 'BIHAR', 'WEST BENGAL', 'RAJASTHAN', 'HARYANA', 'PUNJAB',
       'HIMACHAL PRADESH', 'UTTAR PRADESH', 'UTTARAKHAND', 'KARNATAKA',
       'ANDHRA PRADESH', 'TELANGANA', 'GUJARAT', 'MAHARASHTRA', 'DELHI',
       'JHARKHAND', 'M', 'F'],
      dtype='object')
Index(['SELF-INDICATOR-TRUE', 'MATCH-TYPE_PRIMARY', 'ACCOUNT-STATUS_Active',
       'ACCOUNT-STATUS_Closed', 'ACCOUNT-STATUS_Default',
       'ACCT-TYPE_Business Loan', 'ACCT-TYPE_Credit Card',
       'ACCT-TYPE_Personal Loan', 'OWNERSHIP-IND_Individual',
       'OWNERSHIP-IND_Joint', 'OWNERSHIP-IND_Primary',
       'OWNERSHIP-IND_Supl Card Holder', 'CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR',
       'CONTRIBUTOR-TYPE_MID_CONTRIBUTOR', 'CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR',
       'Total-Loans', 'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT',
       'CURRENT-BAL', 'OVERDUE-AMT', 'WRITE-OFF-AMT', 'Branch_ID', 'Area',
       'Tenure', 'Asset_cost', 'Amount_finance', 'Disbursal_amount', 'EMI',
       'Asset_ID', 'Manufacturer_ID', 'Supplier_ID', 'Loan_To_Value', 'Age',
       'Monthly_income', 'City', 'Zipcode', 'days', 'Monthly', 'Quatrly',
       'Half Yearly', 'Advance', 'Arrear', 'Closed', 'Active', 'PDC_E', 'PDC',
       'Billed', 'Direct Debit', 'ECS', 'ECS Reject', 'SI Reject', 'Cheque',
       'Auto Debit', 'PDC Reject', 'MADHYA PRADESH', 'CHATTISGARH', 'ORISSA',
       'WEST BENGAL', 'HARYANA', 'RAJASTHAN', 'PUNJAB', 'UTTAR PRADESH',
       'UTTARAKHAND', 'ANDHRA PRADESH', 'GUJARAT', 'MAHARASHTRA', 'KARNATAKA',
       'TELANGANA', 'JHARKHAND', 'DELHI', 'BIHAR', 'HIMACHAL PRADESH', 'M',
       'F'],
      dtype='object')

In [257]:
test_final = test_copy[['SELF-INDICATOR-TRUE', 'MATCH-TYPE_PRIMARY', 'ACCOUNT-STATUS_Active',
       'ACCOUNT-STATUS_Closed',
       'ACCT-TYPE_Business Loan', 'ACCT-TYPE_Credit Card',
       'ACCT-TYPE_Personal Loan', 'OWNERSHIP-IND_Individual',
       'OWNERSHIP-IND_Joint', 'OWNERSHIP-IND_Primary',
       'OWNERSHIP-IND_Supl Card Holder', 'CONTRIBUTOR-TYPE_LOW_CONTRIBUTOR',
       'CONTRIBUTOR-TYPE_MID_CONTRIBUTOR', 'CONTRIBUTOR-TYPE_TOP_CONTRIBUTOR',
       'Total-Loans', 'DISBURSED-AMT/HIGH CREDIT', 'INSTALLMENT-AMT',
       'CURRENT-BAL', 'OVERDUE-AMT', 'WRITE-OFF-AMT',
       'Tenure', 'Asset_cost', 'Amount_finance', 'EMI',
       'Loan_To_Value', 'Age',
       'Monthly_income', 'Zipcode', 'days', 'Monthly', 'Quatrly',
       'Half Yearly', 'Arrear', 'Advance', 'Closed', 'Active', 'PDC_E', 'PDC',
       'Direct Debit', 'Billed', 'ECS', 'Auto Debit', 'SI Reject',
       'ECS Reject', 'Cheque', 'PDC Reject', 'MADHYA PRADESH', 'CHATTISGARH',
       'ORISSA', 'BIHAR', 'WEST BENGAL', 'RAJASTHAN', 'HARYANA', 'PUNJAB',
       'HIMACHAL PRADESH', 'UTTAR PRADESH', 'UTTARAKHAND', 'KARNATAKA',
       'ANDHRA PRADESH', 'TELANGANA', 'GUJARAT', 'MAHARASHTRA', 'DELHI',
       'JHARKHAND', 'M', 'F']]

In [258]:
y_pred = model.predict(test_final)
d={'ID':test['ID'],'Top-up Month':y_pred}
df=pd.DataFrame(data=d)

In [259]:
def turn_string(i):
    if i == 0:
        return 'No Top-up Service'
    elif i == 1:
        return '12-18 Months'
    elif i == 5:
        return '36-48 Months'
    elif i == 3:
        return '24-30 Months'
    elif i == 6:
        return ' > 48 Months'
    elif i == 2:
        return '18-24 Months'
    elif i == 4:
        return '30-36 Months'
    
result = map(lambda x: turn_string(x), df['Top-up Month'])
res=list(result)

In [260]:
l={'ID':test['ID'],'Top-up Month':res}

In [261]:
l={'ID':test['ID'],'Top-up Month':res}
df1=pd.DataFrame(data=l)

In [262]:
df1

           ID       Top-up Month
0           4  No Top-up Service
1           5  No Top-up Service
2           6  No Top-up Service
3          25  No Top-up Service
4         119  No Top-up Service
...       ...                ...
14740  143396  No Top-up Service
14741  143397  No Top-up Service
14742  143398  No Top-up Service
14743  143399  No Top-up Service
14744  143400  No Top-up Service

[14745 rows x 2 columns]

In [263]:
df1['Top-up Month'].value_counts()

No Top-up Service    14167
 > 48 Months           416
24-30 Months            52
36-48 Months            37
30-36 Months            34
18-24 Months            30
12-18 Months             9
Name: Top-up Month, dtype: int64

In [264]:
df1.to_csv("ltfssubmission.csv")